.searchJob{
    padding: 10px 10px 0px 10px;
}

.searchJob form {
    width: 100%;
    display: flex;
    align-items: center;
}

.searchJob .opsList{
    position: fixed;
    background-color: white;
    z-index: 999;
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.notShow{
    display: none;
}

.searchJob .opsList li{
    width: 280px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    
}

.searchJob .opsList li:hover{
    cursor: pointer;
    background-color: rgb(203, 207, 207);
}

.searchJob form input {
    flex: 1;
    min-height: 50px;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #28282B;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.searchJob form input:focus,
.searchJob form input:focus-visible {
    border-color: #3898EC;
    outline: none;
}


.searchJob form button {
    height: 100%;
    min-height: 52px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #28282B;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.searchJob form button:hover {
    background-color: #3898EC;
}